html {
    position: relative;
    min-height: 100%;
}


/*Normalize html and body elements,this style is just good to have*/

html,
body {
    margin: 0;
    padding: 0;
}

.pageContentWrapper {
    margin-bottom: 100px;
    /* Height of footer*/
}

.footer-calc {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px;
    height: 30px;
    background-color: #353535;
    color: #fff;
}

.give-color {
    background-color: #337ab7;
    color: #fff;
}

.btn-color {
    background-color: #353535;
    color: #fff;
}

.btn-color:hover{
    background-color: #292828;
}

.margins {
    margin-top: 50px;
}

.margins-title {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size:20pt
}

.margin-auto {
    background-color: #327dbc;
    min-height: 220px;
    position: relative;
}

.center-all {
    padding-top: 27px;
}

.align-left {
    text-align: left;
}