*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    font-family: "Open Sans";
}


/* Form Progress */

.progress_p {
    text-align: center;
}

.progress_p .circle_p,
.progress_p .bar_p {
    display: inline-block;
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 1px solid #d5d5da;
}

.progress_p .bar_p {
    position: relative;
    width: 80px;
    height: 6px;
    margin: 0 -5px 33px -5px;
    border-left: none;
    border-right: none;
    border-radius: 0;
}

.progress_p .circle_p .label_p {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 32px;
    margin-top: 3px;
    color: #b5b5ba;
    font-size: 17px;
}

.progress_p .circle_p .title_p {
    color: #fff;
    font-size: 13px;
    line-height: 30px;
    margin-left: -5px;
}


/* Done / Active */

.progress_p .bar_p.done_p,
.progress_p .circle_p.done_p {
    background: #eee;
    cursor: pointer !important;
}

.progress_p .bar_p.active_p {
    background: linear-gradient(to right, #EEE 40%, #FFF 60%);
}

.progress_p .circle_p.done_p .label_p {
    color: #FFF;
    background: #0c95be;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, .2);
}

.progress_p .circle_p.done_p .title_p {
    color: #fff;
}

.progress_p .circle_p.active_p .label_p {
    color: #FFF;
    background: #353535;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, .2);
    cursor: pointer !important;
}

.progress_p .circle_p.active_p .title_p {
    color: #FFF;
    cursor: pointer !important;
}

.change-cursor {
    cursor: pointer !important;
}

/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin-top: 150px;
    padding: 0;
    font-size: 3.2em;
    text-transform: uppercase;
    font-weight: 900;
    color: #fff;
    text-shadow: 2px 2px 20px #454545;
    clear: both;
}

.text-vertical-center h3 {
    color: #59a7ce;
    /*color: #454545;*/
    /*text-shadow: 2px 2px 20px #fff;*/
}

header .brand {
    position: absolute;
    width: 100%;
    padding: 30px 20px;
}

header .brand span {
    display: block;
    margin-left: 64px;
    margin-top: -15px;
    font-size: 1.0em;
    font-weight: 100;
    letter-spacing: 1px;
    white-space: nowrap;
    text-shadow: 2px 2px 5px #353535;
}

header .language {
    display: inline-block;
    position: fixed;
    right: 20vw;
    padding: 2px 10px;
    font-size: 0.8em;
    background-color: rgba(0,0,0,0.4);
    z-index: 9999;
}

header span {
    color: #fff;
    font-size: 1em;
    font-family: 'Helvetica';
    text-shadow: 2px 2px 20px #454545;
}

header .language img {
    margin: 2px;
    max-width: 22px;
}