<!DOCTYPE html>
<html lang="pt-br" ng-app="calc_app">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />

  <title>Calculadora de aplicativo</title>

  <!-- CSS -->
  <link href="./bower_components/animate.css/animate.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="./css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="./css/calc_app.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="./css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="./css/preload.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="./css/open_sans.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body class="give-color" ng-controller="CalcCtrl as cc">

  <!-- Start Page Loading -->
  <div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div>
  <!-- End Page Loading -->

  <div class="pageContentWrapper">
<header class="header">
      <div class="language">
            <span class="text-align" data-en="Language:" data-br="Idioma:">Idioma:</span> 
            <a href="#br" class="translate" data-lang="br"><img src="img/brazil.png" alt="translate-br" title="Traduzir para português" class="grow"></a>
            <a href="#en" class="translate" data-lang="en"><img src="img/united-states.png" alt="translate-en" title="Translate to English" class="grow"></a>
        </div></header>

    <!-- All the page content goes here-->
    <div class="container">
      <!-- Title -->
      <div class="margins animated fadeInDown">
        <span style="font-size:30pt" data-en="App calculator" data-br="Calculadora de aplicativos"></span>
      </div>

      <!-- Progress bar -->
      <div class="margins">
        <div id="progress_bar" class="progress_p">
          <div class="row">
            <div class="col s12">
              <div id="step_1" class="circle_p active_p" select-step step="1">
                <span class="label_p">1</span>
                <span class="title_p" data-en="Type" data-br="Tipo"></span>
              </div>
              <span class="bar_p"></span>

              <div id="step_2" class="circle_p">
                <span class="label_p">2</span>
                <span class="title_p">Interface</span>
              </div>
              <span class="bar_p"></span>

              <div id="step_3" class="circle_p">
                <span class="label_p">3</span>
                <span class="title_p">Login</span>
              </div>
              <span class="bar_p"></span>

              <div id="step_4" class="circle_p">
                <span class="label_p">4</span>
                <span class="title_p" data-en="Paid?" data-br="Pago?"></span>
              </div>
              <span class="bar_p"></span>

              <div id="step_5" class="circle_p">
                <span class="label_p">5</span>
                <span class="title_p" data-en="Data" data-br="Dados"></span>
              </div>
            </div>

            &nbsp;

            <div class="col s12">
              <div id="step_6" class="circle_p">
                <span class="label_p">6</span>
                <span class="title_p" data-en="Interactions" data-br="Interações"></span>
              </div>
              <span class="bar_p"></span>

              <div id="step_7" class="circle_p">
                <span class="label_p">7</span>
                <span class="title_p" data-en="Profile" data-br="Perfil"></span>
              </div>
              <span class="bar_p"></span>

              <div id="step_8" class="circle_p">
                <span class="label_p">8</span>
                <span class="title_p" data-en="Integrated" data-br="Integrado"></span>
              </div>
              <span class="bar_p"></span>

              <div id="step_9" class="circle_p">
                <span class="label_p">9</span>
                <span class="title_p" data-en="Language" data-br="Linguagem"></span>
              </div>
              <span class="bar_p"></span>

              <div id="step_10" class="circle_p">
                <span class="label_p">10</span>
                <span class="title_p" data-en="Progress" data-br="Progresso"></span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <span style="font-size:20pt" data-en="<b>Estimated price</b>" data-br="<b>Preço estimado</b>"></span>
        <br>
        <span data-en="US$" data-br="R$"></span>
        <span>{{cc.total}}</span><span data-en=".00" data-br=",00"></span>
      </div>

      <!-- Question 1: App type -->
      <div id="question_1" class="row">
        <div class="col s12">
          <div class="margins-title">
            <span data-en="<b>What type of app would you like to build?</b>" data-br="<b>Qual tipo de app você gostaria de construir?</b>"></span>
          </div>
          <div class="row">
            <div class="col s6 m3">
              <div class="card margin-auto change-cursor" ng-click="cc.question1(1,10)" select-answer answer="1">
                <div class="center-all">
                  <img src="./img/icons/apple.png" width="128" alt="Desenvolver um iOS app">
                  <br><span data-en="iOS app" data-br="Aplicativo iOS"></span>
                </div>
              </div>
            </div>

            <div class="col s6 m3">
              <div class="card margin-auto change-cursor" ng-click="cc.question1(2,20)" select-answer answer="1">
                <div class="center-all">
                  <img src="./img/icons/android.png" width="128" alt="Desenvolver um Android app">
                  <br><span>Android</span>
                </div>
              </div>
            </div>

            <div class="col s6 m3">
              <div class="card margin-auto change-cursor" ng-click="cc.question1(3,30)" select-answer answer="1">
                <div class="center-all">
                  <img src="./img/icons/microsoft.png" width="128" alt="Desenvolver um Windows Phone app">
                  <br><span>Windows Phone</span>
                </div>
              </div>
            </div>

            <div class="col s6 m3">
              <div class="card margin-auto change-cursor" ng-click="cc.question1(4,40)" select-answer answer="1">
                <div class="center-all">
                  <img src="./img/icons/smartphone.png" width="128" alt="Desenvolver um app para todas as plataformas">
                  <br><span data-en="All platforms" data-br="Todas as plataformas"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- close Question 1 -->

      <!-- Question 2: Interface -->
      <div id="question_2" class="row" style="display: none;">
        <div class="col s12">
          <div class="margins-title">
            <span data-en="<b>What type of interface do you want for your app?</b>" data-br="<b>Que tipo de interface você quer para o seu app?</b>"></span>
          </div>
          <div class="row">
            <div class="col s6 m3">
              <div class="card margin-auto change-cursor" ng-click="cc.question2(1,10)" select-answer answer="2">
                <div class="center-all">
                  <img src="./img/icons/default_design.png" width="128" alt="Interface padrão da plataforma">
                  <br><span data-en="Default" data-br="Padrão da plataforma"></span>
                </div>
              </div>
            </div>

            <div class="col s6 m3">
              <div class="card margin-auto change-cursor" ng-click="cc.question2(2,20)" select-answer answer="2">
                <div class="center-all">
                  <img src="./img/icons/new_design.png" width="128" alt="Interface Inovadora">
                  <br><span data-en="Own and innovative" data-br="Própria Inovadora"></span>
                </div>
              </div>
            </div>

            <div class="col s6 m3">
              <div class="card margin-auto change-cursor" ng-click="cc.question2(3,30)" select-answer answer="2">
                <div class="center-all">
                  <img src="./img/icons/own_design.png" width="128" alt="Interface própria do cliente">
                  <br><span data-en="Own but already existing" data-br="Própria mas já existente"></span>
                </div>
              </div>
            </div>

            <div class="col s6 m3">
              <div class="card margin-auto change-cursor" ng-click="cc.question2(4,40)" select-answer answer="2">
                <div class="center-all">
                  <img src="./img/icons/qm_design.png" width="128" alt="Não sabe">
                  <br><span data-en="Don't know" data-br="Não sei"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- close Question 2 -->

      <!-- Question 3: Login -->
      <div id="question_3" class="row" style="display: none;">
        <div class="col s12">
          <div class="margins-title">
            <span data-en="<b>Does your app need login?</b>" data-br="<b>O seu app precisa de login?</b>"></span>
          </div>
          <div class="row">
            <div class="col s6 m3">
              <div class="card margin-auto change-cursor" ng-click="cc.question3(1,10)" select-answer answer="3">
                <div class="center-all">
                  <img src="./img/icons/social.png" width="128" alt="Login integrado por rede social">
                  <br><span data-en="Yes, social and mail" data-br="Sim, social e por e-mail"></span>
                </div>
              </div>
            </div>

            <div class="col s6 m3">
              <div class="card margin-auto change-cursor" ng-click="cc.question3(2,20)" select-answer answer="3">
                <div class="center-all">
                  <img src="./img/icons/mail.png" width="128" alt="Login por e-mail">
                  <br><span data-en="Yes, only mail" data-br="Sim, apenas por e-mail"></span>
                </div>
              </div>
            </div>

            <div class="col s6 m3">
              <div class="card margin-auto change-cursor" ng-click="cc.question3(3,30)" select-answer answer="3">
                <div class="center-all">
                  <img src="./img/icons/no_login.png" width="128" alt="Não">
                  <br><span data-en="No" data-br="Não"></span>
                </div>
              </div>
            </div>

            <div class="col s6 m3">
              <div class="card margin-auto change-cursor" ng-click="cc.question3(4,40)" select-answer answer="3">
                <div class="center-all">
                  <img src="./img/icons/qm_login.png" width="128" alt="Não sabe">
                  <br><span data-en="Don't know" data-br="Não sei"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- close Question 3 -->

      <!-- Question 4: In-app Payments -->
      <div id="question_4" class="row" style="display: none;">
        <div class="col s12">
          <div class="margins-title">
            <span data-en="<b>How do you expect to earn money?</b>" data-br="<b>Qual retorno financeiro você deseja ter?</b>"></span>
          </div>
          <div class="row">
            <div class="col s6 m3">
              <div class="card margin-auto change-cursor" ng-click="cc.question4(1,10)" select-answer answer="4">
                <div class="center-all">
                  <img src="./img/icons/free.png" width="128" alt="Aplicativo gratuito com publicidade">
                  <br><span data-en="Free app with advertising" data-br="Aplicativo gratuito com publicidade"></span>
                </div>
              </div>
            </div>

            <div class="col s6 m3">
              <div class="card margin-auto change-cursor" ng-click="cc.question4(2,20)" select-answer answer="4">
                <div class="center-all">
                  <img src="./img/icons/paid.png" width="128" alt="Aplicativo pago">
                  <br><span data-en="Paid app" data-br="Aplicativo pago"></span>
                </div>
              </div>
            </div>

            <div class="col s6 m3">
              <div class="card margin-auto change-cursor" ng-click="cc.question4(3,30)" select-answer answer="4">
                <div class="center-all">
                  <img src="./img/icons/paid_in_app.png" width="128" alt="Compras dentro do aplicativo">
                  <br><span data-en="In-app purchases" data-br="Compras dentro do<br>aplicativo"></span>
                </div>
              </div>
            </div>

            <div class="col s6 m3">
              <div class="card margin-auto change-cursor" ng-click="cc.question4(4,40)" select-answer answer="4">
                <div class="center-all">
                  <img src="./img/icons/qm_paid.png" width="128" alt="Outro/Não sabe">
                  <br><span data-en="Other / Doesn't know" data-br="Outro / Não sabe"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- close Question 4 -->

      <!-- Question 5: Data Share -->
      <div id="question_5" class="row" style="display: none;">
        <div class="col s12">
          <div class="margins-title">
            <span data-en="<b>Is there data-sharing between devices?</b>" data-br="<b>Há compartilhamento de dados entre os aplicativos?</b>"></span>
          </div>
          <div class="row">
            <div class="col s6 m4">
              <div class="card margin-auto change-cursor" ng-click="cc.question5(1,10)" select-answer answer="5">
                <div class="center-all">
                  <img src="./img/icons/share.png" width="128" alt="Sim">
                  <br><span data-en="Yes" data-br="Sim"></span>
                </div>
              </div>
            </div>

            <div class="col s6 m4">
              <div class="card margin-auto change-cursor" ng-click="cc.question5(2,20)" select-answer answer="5">
                <div class="center-all">
                  <img src="./img/icons/no_share.png" width="128" alt="Não">
                  <br><span data-en="No" data-br="Não"></span>
                </div>
              </div>
            </div>

            <div class="col s6 m4">
              <div class="card margin-auto change-cursor" ng-click="cc.question5(3,30)" select-answer answer="5">
                <div class="center-all">
                  <img src="./img/icons/qm_share.png" width="128" alt="Não sabe">
                  <br><span data-en="Don't know" data-br="Não sei"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- close Question 5 -->

      <!-- Question 6: Ratings/Reviews -->
      <div id="question_6" class="row" style="display: none;">
        <div class="col s12">
          <div class="margins-title">
            <span data-en="<b>Are the users able to interact, comment or vote within your app?</b>" data-br="<b>Seus usuários podem interagir, comentar ou votar dentro do app?</b>"></span>
          </div>
          <div class="row">
            <div class="col s6 m4">
              <div class="card margin-auto change-cursor" ng-click="cc.question6(1,10)" select-answer answer="6">
                <div class="center-all">
                  <img src="./img/icons/interaction.png" width="128" alt="Sim">
                  <br><span data-en="Yes" data-br="Sim"></span>
                </div>
              </div>
            </div>

            <div class="col s6 m4">
              <div class="card margin-auto change-cursor" ng-click="cc.question6(2,20)" select-answer answer="6">
                <div class="center-all">
                  <img src="./img/icons/no_interaction.png" width="128" alt="Não">
                  <br><span data-en="No" data-br="Não"></span>
                </div>
              </div>
            </div>

            <div class="col s6 m4">
              <div class="card margin-auto change-cursor" ng-click="cc.question6(3,30)" select-answer answer="6">
                <div class="center-all">
                  <img src="./img/icons/qm_interaction.png" width="128" alt="Não sabe">
                  <br><span data-en="Don't know" data-br="Não sei"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- close Question 6 -->

      <!-- Question 7: User Profiles -->
      <div id="question_7" class="row" style="display: none;">
        <div class="col s12">
          <div class="margins-title">
            <span data-en="<b>Does each user has a profile?</b>" data-br="<b>Cada usuário pode ter o seu perfil?</b>"></span>
          </div>
          <div class="row">
            <div class="col s6 m4">
              <div class="card margin-auto change-cursor" ng-click="cc.question7(1,10)" select-answer answer="7">
                <div class="center-all">
                  <img src="./img/icons/profile.png" width="128" alt="Sim">
                  <br><span data-en="Yes" data-br="Sim"></span>
                </div>
              </div>
            </div>

            <div class="col s6 m4">
              <div class="card margin-auto change-cursor" ng-click="cc.question7(2,20)" select-answer answer="7">
                <div class="center-all">
                  <img src="./img/icons/no_profile.png" width="128" alt="Não">
                  <br><span data-en="No" data-br="Não"></span>
                </div>
              </div>
            </div>

            <div class="col s6 m4">
              <div class="card margin-auto change-cursor" ng-click="cc.question7(3,30)" select-answer answer="7">
                <div class="center-all">
                  <img src="./img/icons/qm_profile.png" width="128" alt="Não sabe">
                  <br><span data-en="Don't know" data-br="Não sei"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- close Question 7 -->

      <!-- Question 8: Integrated/Stand-alone -->
      <div id="question_8" class="row" style="display: none;">
        <div class="col s12">
          <div class="margins-title">
            <span data-en="<b>Will the app be integrated with a website?</b>" data-br="<b>Haverá integração de seu app com um website?</b>"></span>
          </div>
          <div class="row">
            <div class="col s6 m4">
              <div class="card margin-auto change-cursor" ng-click="cc.question8(1,10)" select-answer answer="8">
                <div class="center-all">
                  <img src="./img/icons/integrated.png" width="128" alt="Sim">
                  <br><span data-en="Yes" data-br="Sim"></span>
                </div>
              </div>
            </div>

            <div class="col s6 m4">
              <div class="card margin-auto change-cursor" ng-click="cc.question8(2,20)" select-answer answer="8">
                <div class="center-all">
                  <img src="./img/icons/not_integrated.png" width="128" alt="Não">
                  <br><span data-en="No" data-br="Não"></span>
                </div>
              </div>
            </div>

            <div class="col s6 m4">
              <div class="card margin-auto change-cursor" ng-click="cc.question8(3,30)" select-answer answer="8">
                <div class="center-all">
                  <img src="./img/icons/qm_integrated.png" width="128" alt="Não sabe">
                  <br><span data-en="Don't know" data-br="Não sei"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- close Question 8 -->

      <!-- Question 9: Language -->
      <div id="question_9" class="row" style="display: none;">
        <div class="col s12">
          <div class="margins-title">
            <span data-en="<b>How many languages do you want your app to have?</b>" data-br="<b>Quantas linguas você deseja que seu aplicativo tenha?</b>"></span>
          </div>
          <div class="row">
            <div class="col s6 m4">
              <div class="card margin-auto change-cursor" ng-click="cc.question9(1,10)" select-answer answer="9">
                <div class="center-all">
                  <img src="./img/icons/one-language.png" width="128" alt="Uma unica lingua">
                  <br><span data-en="One language" data-br="Uma única lingua"></span>
                </div>
              </div>
            </div>

            <div class="col s6 m4">
              <div class="card margin-auto change-cursor" ng-click="cc.question9(2,20)" select-answer answer="9">
                <div class="center-all">
                  <img src="./img/icons/bilingue.png" width="128" alt="Bilingue">
                  <br><span data-en="Bilingual" data-br="Bilíngue"></span>
                </div>
              </div>
            </div>

            <div class="col s6 m4">
              <div class="card margin-auto change-cursor" ng-click="cc.question9(3,30)" select-answer answer="9">
                <div class="center-all">
                  <img src="./img/icons/multilingue.png" width="128" alt="Multilingue">
                  <br><span data-en="Multilingual" data-br="Multilíngue"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- close Question 9 -->

      <!-- Question 10: Progress Question -->
      <div id="question_10" class="row" style="display: none;">
        <div class="col s12">
          <div class="margins-title">
            <span data-en="<b>In what stage is your project?</b>" data-br="<b>Em qual fase está o seu projeto?</b>"></span>
          </div>
          <div class="row">
            <div class="col s6 m3">
              <div class="card margin-auto change-cursor" ng-click="cc.question10(1,10)" select-answer answer="10">
                <div class="center-all">
                  <img src="./img/icons/idea.png" width="128" alt="Ideia">
                  <br><span data-en="Idea" data-br="Ideia"></span>
                </div>
              </div>
            </div>

            <div class="col s6 m3">
              <div class="card margin-auto change-cursor" ng-click="cc.question10(2,20)" select-answer answer="10">
                <div class="center-all">
                  <img src="./img/icons/sketch.png" width="128" alt="Esboço">
                  <br><span data-en="Sketch" data-br="Esboço"></span>
                </div>
              </div>
            </div>

            <div class="col s6 m3">
              <div class="card margin-auto change-cursor" ng-click="cc.question10(3,30)" select-answer answer="10">
                <div class="center-all" style="text-align:center!important;">
                  <img src="./img/icons/development.png" width="128" alt="Desenvolvimento">
                  <br><span data-en="Development" data-br="Desenvolvimento"></span>
                </div>
              </div>
            </div>

            <div class="col s6 m3">
              <div class="card margin-auto change-cursor" ng-click="cc.question10(4,40)" select-answer answer="10">
                <div class="center-all">
                  <img src="./img/icons/prototype.png" width="128" alt="Protótipo">
                  <br><span data-en="Prototype" data-br="Protótipo"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- close Question 10 -->

      <!-- Final -->
      <div id="final" style="display:none">

        <!-- Tabela com as escolhas do usuário -->
        <div id="table">
          <table>
            <thead>
              <tr>
                <th data-field="step" data-en="Step" data-br="Passo"></th>
                <th data-field="selection" data-en="Selection" data-br="Escolha"></th>
                <th data-field="price" data-en="Price" data-br="Preço"></th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td data-en="What type of app would you like to build?" data-br="Qual tipo de app você gostaria de construir?"></td>
                <td ng-if="cc.q1.selection===1" data-en="iOS app" data-br="Aplicativo iOS"></td>
                <td ng-if="cc.q1.selection===2">Android</td>
                <td ng-if="cc.q1.selection===3">Windows Phone</td>
                <td ng-if="cc.q1.selection===4" data-en="All platforms" data-br="Todas as plataformas"></td>
                <td><span data-en="US$" data-br="R$"></span> {{cc.q1.price}}<span data-en=".00" data-br=",00"></span></td>
              </tr>
              <tr>
                <td data-en="What type of interface do you want for your app?" data-br="Que tipo de interface você quer para o seu app?"></td>
                <td ng-if="cc.q2.selection===1" data-en="Default" data-br="Padrão da plataforma"></td>
                <td ng-if="cc.q2.selection===2" data-en="Own and innovative" data-br="Própria Inovadora"></td>
                <td ng-if="cc.q2.selection===3" data-en="Own but already existing" data-br="Própria mas já existente"></td>
                <td ng-if="cc.q2.selection===4" data-en="Don't know" data-br="Não sabe"></td>
                <td><span data-en="US$" data-br="R$"></span> {{cc.q2.price}}<span data-en=".00" data-br=",00"></span></td>
              </tr>
              <tr>
                <td data-en="Does your app need login?" data-br="O seu app precisa de login?"></td>
                <td ng-if="cc.q3.selection===1" data-en="Yes, social and mail" data-br="Sim, social e por e-mail"></td>
                <td ng-if="cc.q3.selection===2" data-en="Yes, only mail" data-br="Sim, apenas por e-mail"></td>
                <td ng-if="cc.q3.selection===3" data-en="No" data-br="Não"></td>
                <td ng-if="cc.q3.selection===4" data-en="Don't know" data-br="Não sei"></td>
                <td><span data-en="US$" data-br="R$"></span> {{cc.q3.price}}<span data-en=".00" data-br=",00"></span></td>
              </tr>
              <tr>
                <td data-en="How do you expect to earn money?" data-br="Qual retorno financeiro você deseja ter?"></td>
                <td ng-if="cc.q4.selection===1" data-en="Free app with advertising" data-br="Aplicativo gratuito com publicidade"></td>
                <td ng-if="cc.q4.selection===2" data-en="Paid app" data-br="Aplicativo pago"></td>
                <td ng-if="cc.q4.selection===3" data-en="In-app purchases" data-br="Compras dentro do aplicativo"></td>
                <td ng-if="cc.q4.selection===4" data-en="Other / Doesn't know" data-br="Outro / Não sabe"></td>
                <td><span data-en="US$" data-br="R$"></span> {{cc.q4.price}}<span data-en=".00" data-br=",00"></span></td>
              </tr>
              <tr>
                <td data-en="Is there data-sharing between devices?" data-br="Há compartilhamento de dados entre os aplicativos?"></td>
                <td ng-if="cc.q5.selection===1" data-en="Yes" data-br="Sim"></td>
                <td ng-if="cc.q5.selection===2" data-en="No" data-br="Não"></td>
                <td ng-if="cc.q5.selection===3" data-en="Don't know" data-br="Não sei"></td>
                <td><span data-en="US$" data-br="R$"></span> {{cc.q5.price}}<span data-en=".00" data-br=",00"></span></td>
              </tr>
              <tr>
                <td data-en="Are the users able to interact, comment or vote within your app?" data-br="Seus usuários podem interagir, comentar ou votar dentro do app?"></td>
                <td ng-if="cc.q6.selection===1" data-en="Yes" data-br="Sim"></td>
                <td ng-if="cc.q6.selection===2" data-en="No" data-br="Não"></td>
                <td ng-if="cc.q6.selection===3" data-en="Don't know" data-br="Não sei"></td>
                <td><span data-en="US$" data-br="R$"></span> {{cc.q6.price}}<span data-en=".00" data-br=",00"></span></td>
              </tr>
              <tr>
                <td data-en="Does each user has a profile?" data-br="Cada usuário pode ter o seu perfil?"></td>
                <td ng-if="cc.q7.selection===1" data-en="Yes" data-br="Sim"></td>
                <td ng-if="cc.q7.selection===2" data-en="No" data-br="Não"></td>
                <td ng-if="cc.q7.selection===3" data-en="Don't know" data-br="Não sei"></td>
                <td><span data-en="US$" data-br="R$"></span> {{cc.q7.price}}<span data-en=".00" data-br=",00"></span></td>
              </tr>
              <tr>
                <td data-en="Will the app be integrated with a website?" data-br="Haverá integração de seu app com um website?"></td>
                <td ng-if="cc.q8.selection===1" data-en="Yes" data-br="Sim"></td>
                <td ng-if="cc.q8.selection===2" data-en="No" data-br="Não"></td>
                <td ng-if="cc.q8.selection===3" data-en="Don't know" data-br="Não sei"></td>
                <td><span data-en="US$" data-br="R$"></span> {{cc.q8.price}}<span data-en=".00" data-br=",00"></span></td>
              </tr>
              <tr>
                <td data-en="How many languages do you want your app to have?" data-br="Quantas linguas você deseja que seu aplicativo tenha?"></td>
                <td ng-if="cc.q9.selection===1" data-en="One language" data-br="Uma única lingua"></td>
                <td ng-if="cc.q9.selection===2" data-en="Bilingual" data-br="Bilíngue"></td>
                <td ng-if="cc.q9.selection===3" data-en="Multilingual" data-br="Multilíngue"></td>
                <td><span data-en="US$" data-br="R$"></span> {{cc.q9.price}}<span data-en=".00" data-br=",00"></span></td>
              </tr>
              <tr>
                <td data-en="In what stage is your project?" data-br="Em qual fase está o seu projeto?"></td>
                <td ng-if="cc.q10.selection===1" data-en="Idea" data-br="Ideia"></td>
                <td ng-if="cc.q10.selection===2" data-en="Sketch" data-br="Esboço"></td>
                <td ng-if="cc.q10.selection===3" data-en="Development" data-br="Desenvolvimento"></td>
                <td ng-if="cc.q10.selection===4" data-en="Prototype" data-br="Protótipo"></td>
                <td><span data-en="US$" data-br="R$"></span> {{cc.q10.price}}<span data-en=".00" data-br=",00"></span></td>
              </tr>
              <tr>
                <td> Total </td>
                <td> &nbsp; </td>
                <td><span data-en="US$" data-br="R$"></span> {{cc.total}}<span data-en=".00" data-br=",00"></span></td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Form -->
        <div class="row">
          <span style="font-size:20pt" data-en="<b>Tell us more about your app</b>" data-br="<b>Contate-nos a respeito de seu app</b>"></span>
          <form id="form" class="col s12" method="POST" ng-submit="cc.send_mail()">
            <div class="row">
              <div class="input-field col s12">
                <input id="name" name="name" type="text" class="validate align-left" required>
                <label class="align-left" for="name" data-en="Full Name" data-br="Nome Completo"></label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input id="email" name="email" type="email" class="validate align-left" required>
                <label class="align-left" for="email" data-en="Mail" data-br="E-mail"></label>
              </div>
              <div class="input-field col s6">
                <input id="phone" name="phone" type="text" class="validate align-left" required>
                <label class="align-left" for="phone" data-en="Contact Number" data-br="Telefone para contato"></label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <textarea id="message" name="message" class="materialize-textarea validate align-left" required></textarea>
                <label class="align-left" for="message" data-en="Give us a brief description of your idea" data-br="Descreva rapidamente sua ideia"></label>
              </div>
            </div>
            <button id="submit" class="btn btn-color waves-effect waves-light right" type="submit" name="action" style="margin-right:10px;" data-en="Send" data-br="Enviar"></button>
          </form>
        </div>
      </div>

    </div>
  </div>

  <!-- Footer -->
  <footer class="footer-calc">
    <div>
      <b><span>Copyright © 2016 by Gempe.</span>
      <!-- <a href="http://gempe.com.br/"><img src="./img/logo-gempe.png" height="20"/></a> -->
      <span> All Rights Reserved.</span></b>
    </div>
  </footer>

  <!-- Scripts -->
  <script src="./js/jquery-3.1.1.min.js"></script>
  <script src="./js/jquery.mask.min.js"></script>
  <script src="./bower_components/angular/angular.js"></script>
  <script src="./js/translate.js"></script>
  <script src="./js/app.js"></script>
  <script src="./js/app.config.js"></script>
  <script src="./js/materialize.min.js"></script>
  <script src="./js/calc_app.module.js"></script>
  <script src="./js/calc_app.controller.js"></script>
  <script src="./js/select_step.js"></script>
  <script src="./js/select_answer.js"></script>

</body>

</html>
